html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 12px;
  color: #333;
}

/* MAIN CONTAINERs */
#header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #eee;
}
#header > * {
  margin-bottom: 10px;
}
#core {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 0;
  padding: 20px;
}
#results {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.spacer {
  flex-grow: 1;
}
.counter {
  margin-bottom: 20px;
  color: gray;
}

/* Logo */
#logo {
  font-size: 32px;
  font-family: serif;
  letter-spacing: 2px;
  margin-left: 10px;
}
#logo span:first-child {
  font-size: 45px;
}
#logo span:nth-child(2) {
  background: rgb(254,242,201);
  color: darkgoldenrod;
  padding: 2.5px;
}

/* SEARCH bar */
#search {
  position: relative;
  width: 600px;
  text-align: center;
}
#search input {
  width: 500px;
  height: 40px;
  font-size: 18px;
  outline: none;
}
button#search {
  width: 45px;
  height: 40px;
  background: #555;
  color: #fff;
  font-size: 20px;
  border: 0;
  border-radius: 0 2.5pt 2.5pt 0;
  cursor: pointer;
}
button#search:hover {
  background: #888;
}

/* EDIT button */
button#edit {
  width: 50px;
  height: 40px;
  font-size: 15px;
  background: #555;
  text-align: center;
  border: 0;
  border-radius: 2.5pt;
}
button#edit a {
  text-decoration: none;
  color: #fff;
  margin-top: 5px;
}
button#edit a:hover {
  background: #888;
}

/* CONCEPT boxes */
#concepts {
  width: 310px;
  height: 50%;
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow-y: scroll;
  align-items: center;
  border: 1px solid #e2e2e2;
  padding: 10px;
  margin-left: 20px;
  border-radius: 2.5pt;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(170,170,170,1);
  -moz-box-shadow: 0px 3px 5px 0px rgba(170,170,170,1);
  box-shadow: 0px 3px 5px 0px rgba(170,170,170,1);
}
.concept {
  display: flex;
  flex-direction: row;
  border-radius: 2.5pt;
  width: 300px;
  margin-bottom: 5px;
}
.concept .resource {
  width: 100%;
}
.concept .icon {
  font-size: x-large;
  margin-right: 8px;
}
.concept .label {
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.concept .label:hover {
  text-decoration: none;
}
.concept .count {
}
.concept .link {
  color: steelblue;
}
.concept .link:hover {
  text-decoration: none;
}
.concept .description {
  color: #999;
  font-style: italic;
  font-size: 13px;
}

/* DOCUMENTs */
#docs {
  flex-grow: 3;
  width: 0;
  overflow-y: scroll;
  align-items: center;
  font-size: 13px;
}
#docs > * {
  width: 85%;
}
.doc {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.doc .icon {
  font-size: x-large;
  margin-right: 8px;
}
.doc .label {
  margin-bottom: 5px;
}
.doc .label a {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}
.doc .label a:hover {
  text-decoration: none;
}
.doc .annotation {
  border-left: 2px solid #e2e2e2;
  padding-left: 10px;
  margin-bottom: 10px;
  font-family: serif;
  font-size: 13.5px;
}
.doc .matched {
  background: rgb(254,242,201);
  padding: 2px;
}