html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 12px;
  color: #333;
}

#header {
  position: relative;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #eee;
}
#core {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#results {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

/* edit button*/
#edit_button {
  position: absolute;
  right: 40px;
  bottom: 5px;
  font-size: 15px;
}
#edit_button a {
  text-decoration: none;
  color: #333;
}
#edit_button a:hover {
  text-decoration: underline;
}

/* search panel */
#search_panel {
  text-align: center;
  padding: 100px 0px 100px 0px;
}
#search {
  position: relative;
  width: 488px;
  margin: auto;
}
#search_panel input {
  width: 400px;
  height: 40px;
  font-size: 18px;
  outline: none;
}
#search_button {
  width: 45px;
  height: 40px;
  position: absolute;
  top: 0px;
  right: 0px;

  background: #555;
  color: #fff;
  font-size: 20px;
  border: 0;
  border-radius: 0 2.5pt 2.5pt 0;
  cursor: pointer;
}
#search_button:hover {
  background: #888;
}

/* boxes */
#boxes {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e2e2e2;
  padding: 10px;
  margin: 0px 10px 10px 0px;
}
.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2.5pt;
  width: 250px;
  padding: 5px;
  margin-bottom: 5px;
  background: #f2f2f2;
  cursor: pointer;
}
.box .resource {
  width: 90%;
}
.box .label {
  font-size: 15px;
}
.box .count {
  width: 10%;
  text-align: center;
}
.box:hover {
  background: rgb(254,242,201);
}
.box .link {
  color: steelblue;
}
.box .link:hover {
  text-decoration: none;
}
.box .description {
  color: #999;
  font-style: italic;
  font-size: 13px;
}

/* docs */
#docs {
  flex-grow: 3;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.doc {
  width: 70%;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.doc .label {
  margin-bottom: 5px;
}
.doc .label a {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}
.doc .label a:hover {
  text-decoration: none;
}
.doc .annotation {
  font-size: 13px;
  border-left: 2px solid #e2e2e2;
  padding-left: 10px;
  margin-bottom: 10px;
}
.doc .matched {
  font-weight: bold;
  background: rgb(254,242,201);
  padding: 2px;
}

/* Annotarium LOGO */
#logo {
  font-size: 32px;
  font-family: serif;
  letter-spacing: 2px;
  margin: 10px;
}
#logo span:first-child {
  font-size: 45px;
}
#logo span:nth-child(2) {
  background: rgb(254,242,201);
  color: darkgoldenrod;
  padding: 2.5px;
}